{:highlights [{:id #uuid "650484b4-2ec2-4478-bf93-a6e3f5835d68",
               :page 11,
               :position {:bounding {:x1 78.22916668653488,
                                     :y1 343.4895820617676,
                                     :x2 380.6863200068474,
                                     :y2 354.1562690734863,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 78.22916668653488,
                                   :y1 343.4895820617676,
                                   :x2 380.6863200068474,
                                   :y2 354.1562690734863,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 11},
               :content {:text "The BIAN standard defines a component business blueprint for banking"},
               :properties {:color "yellow"}}
              {:id #uuid "65056e2b-e628-4a4a-b506-d1086919c517",
               :page 29,
               :position {:bounding {:x1 174,
                                     :y1 230,
                                     :x2 360,
                                     :y2 457,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1694854697846},
               :properties {:color "yellow"}}
              {:id #uuid "650d9e41-5b34-4d07-809f-fcf321c3b072",
               :page 36,
               :position {:bounding {:x1 138,
                                     :y1 337,
                                     :x2 872,
                                     :y2 787,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1695391295790},
               :properties {:color "yellow"}}
              {:id #uuid "650da3ab-099c-4939-b3d9-3a118d07a51d",
               :page 34,
               :position {:bounding {:x1 165,
                                     :y1 520.66796875,
                                     :x2 846,
                                     :y2 935.66796875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1695392682636},
               :properties {:color "yellow"}}
              {:id #uuid "650da4da-58d1-439b-ba0b-81ef7c2d4acc",
               :page 38,
               :position {:bounding {:x1 168,
                                     :y1 247.66796875,
                                     :x2 1110,
                                     :y2 707.66796875,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1695392985065},
               :properties {:color "yellow"}}
              {:id #uuid "650da50a-87ac-43e5-a11f-21dc7332d60a",
               :page 28,
               :position {:bounding {:x1 174,
                                     :y1 795.66796875,
                                     :x2 1122,
                                     :y2 1368.66796875,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1695393031910},
               :properties {:color "yellow"}}
              {:id #uuid "650da5fa-2915-4871-9ade-1a8145496bad",
               :page 30,
               :position {:bounding {:x1 156,
                                     :y1 378,
                                     :x2 977,
                                     :y2 959,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1695393272954},
               :properties {:color "red"}}
              {:id #uuid "650dabfe-0f50-4cf5-ab4f-9fd80edd73f2",
               :page 41,
               :position {:bounding {:x1 0,
                                     :y1 62.000003814697266,
                                     :x2 843.9713745117188,
                                     :y2 519.7916717529297,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 62.000003814697266,
                                   :x2 0,
                                   :y2 81.33333778381348,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 78.00000381469727,
                                   :x2 0,
                                   :y2 97.33333778381348,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 293.8333435058594,
                                   :y1 456.92710876464844,
                                   :x2 843.9713745117188,
                                   :y2 477.59376525878906,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 150,
                                   :y1 478.02085876464844,
                                   :x2 822.6458740234375,
                                   :y2 498.68751525878906,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 150,
                                   :y1 499.12501525878906,
                                   :x2 364.92120361328125,
                                   :y2 519.7916717529297,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 41},
               :content {:text "The Information Profile however describes the complete make-up of the business information governed by any Service Domain when implemented as a stand-alone service center"},
               :properties {:color "yellow"}}
              {:id #uuid "650dac5f-597f-40ad-96fc-f6a9d4dea529",
               :page 42,
               :position {:bounding {:x1 196,
                                     :y1 194,
                                     :x2 834,
                                     :y2 660,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1695394908787},
               :properties {:color "yellow"}}
              {:id #uuid "650dae5a-f97f-4580-ab75-662f5a4495b2",
               :page 45,
               :position {:bounding {:x1 141,
                                     :y1 680,
                                     :x2 886,
                                     :y2 1032,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1695395416482},
               :properties {:color "yellow"}}
              {:id #uuid "650daea2-2157-4838-8db2-bceba7b2b8b2",
               :page 46,
               :position {:bounding {:x1 115,
                                     :y1 464,
                                     :x2 894,
                                     :y2 940,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 46},
               :content {:text "[:span]", :image 1695395488209},
               :properties {:color "yellow"}}
              {:id #uuid "650db345-ab82-419f-83d6-68cf7553b8bb",
               :page 49,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 1068.604248046875,
                                     :y2 1082.322998046875,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.333251953125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 192,
                                   :y1 1029.3125,
                                   :x2 1068.604248046875,
                                   :y2 1055.3125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 192,
                                   :y1 1056.322998046875,
                                   :x2 584.6427001953125,
                                   :y2 1082.322998046875,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 49},
               :content {:text "The BIAN Wireframe shows the available (first order) service connections between a related collection of Service Domains."},
               :properties {:color "yellow"}}
              {:id #uuid "650e5ad5-5b6e-4b41-8583-d941508d3c03",
               :page 54,
               :position {:bounding {:x1 179.3333339691162,
                                     :y1 956.3359375,
                                     :x2 1121.3333339691162,
                                     :y2 1450.3359375,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects (),
                          :page 54},
               :content {:text "[:span]", :image 1695439571979},
               :properties {:color "yellow"}}
              {:id #uuid "650e5bf6-2064-46a6-a2a6-5ab6ad84e269",
               :page 57,
               :position {:bounding {:x1 215.3333339691162,
                                     :y1 1051.3359375,
                                     :x2 1070.3333339691162,
                                     :y2 1341.3359375,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects (),
                          :page 57},
               :content {:text "[:span]", :image 1695439860700},
               :properties {:color "yellow"}}
              {:id #uuid "650e7fd1-04d2-4e29-aa68-dc84ed3235aa",
               :page 62,
               :position {:bounding {:x1 149,
                                     :y1 581,
                                     :x2 849,
                                     :y2 1091,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 62},
               :content {:text "[:span]", :image 1695449037778},
               :properties {:color "yellow"}}
              {:id #uuid "650e965d-e0e6-42c3-91e0-1fcd751d7ec7",
               :page 85,
               :position {:bounding {:x1 136,
                                     :y1 202,
                                     :x2 857,
                                     :y2 656,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 85},
               :content {:text "[:span]", :image 1695454811823},
               :properties {:color "yellow"}}
              {:id #uuid "650e982f-4b51-4509-9496-7f2f4d39bff8",
               :page 86,
               :position {:bounding {:x1 142,
                                     :y1 369.6640625,
                                     :x2 885,
                                     :y2 831.6640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 86},
               :content {:text "[:span]", :image 1695455277505},
               :properties {:color "yellow"}}
              {:id #uuid "650e990d-3ad5-4d55-82e6-5e6b55fef029",
               :page 89,
               :position {:bounding {:x1 139,
                                     :y1 205.6640625,
                                     :x2 882,
                                     :y2 741.6640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 89},
               :content {:text "[:span]", :image 1695455499664},
               :properties {:color "yellow"}}
              {:id #uuid "650e9952-102b-4d88-ac6e-ee8b3d9cf089",
               :page 90,
               :position {:bounding {:x1 105,
                                     :y1 173,
                                     :x2 763,
                                     :y2 697,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects (),
                          :page 90},
               :content {:text "[:span]", :image 1695455568891},
               :properties {:color "yellow"}}
              {:id #uuid "650e99e0-d7f5-4e14-8f3b-e955be049afe",
               :page 96,
               :position {:bounding {:x1 130,
                                     :y1 201.6640625,
                                     :x2 890,
                                     :y2 802.6640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 96},
               :content {:text "[:span]", :image 1695455711115},
               :properties {:color "yellow"}}
              {:id #uuid "650e9b9c-438d-460c-8c29-7c09fe5b9d66",
               :page 97,
               :position {:bounding {:x1 146,
                                     :y1 624,
                                     :x2 844,
                                     :y2 1103,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 97},
               :content {:text "[:span]", :image 1695456155813},
               :properties {:color "yellow"}}
              {:id #uuid "650e9bcb-3273-4c5d-93d3-8967e644e4c7",
               :page 98,
               :position {:bounding {:x1 140,
                                     :y1 455.6640625,
                                     :x2 886,
                                     :y2 890.6640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 98},
               :content {:text "[:span]", :image 1695456201734},
               :properties {:color "yellow"}}
              {:id #uuid "650f1096-593b-483f-bd44-73b93ce75f53",
               :page 99,
               :position {:bounding {:x1 136,
                                     :y1 563.6640625,
                                     :x2 886,
                                     :y2 1070.6640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 99},
               :content {:text "[:span]", :image 1695486100515},
               :properties {:color "yellow"}}
              {:id #uuid "650f1233-8871-473e-8f6e-afdf3ecfe6f6",
               :page 100,
               :position {:bounding {:x1 144,
                                     :y1 643.671875,
                                     :x2 888,
                                     :y2 1114.671875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 100},
               :content {:text "[:span]", :image 1695486514025},
               :properties {:color "yellow"}}
              {:id #uuid "650f125a-d3e3-4364-8273-d2e802587352",
               :page 101,
               :position {:bounding {:x1 126,
                                     :y1 583.671875,
                                     :x2 878,
                                     :y2 1040.671875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 101},
               :content {:text "[:span]", :image 1695486553334},
               :properties {:color "yellow"}}],
 :extra {:page 29}}
