{:highlights [{:id #uuid "646df62d-9f34-4387-a236-fee7d9a93a5d",
               :page 1,
               :position {:bounding {:x1 24,
                                     :y1 51,
                                     :x2 148,
                                     :y2 111.33332824707031,
                                     :width 532,
                                     :height 752.3264812575574},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1684928047522},
               :properties {:color "yellow"}}
              {:id #uuid "646df669-bb2e-4aef-a5ef-287acf2f4bc3",
               :page 1,
               :position {:bounding {:x1 24,
                                     :y1 182,
                                     :x2 149.3333282470703,
                                     :y2 244,
                                     :width 532,
                                     :height 752.3264812575574},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1684928108339},
               :properties {:color "yellow"}}
              {:id #uuid "646df68f-0097-40cc-b3a1-7f9bdde55c6b",
               :page 1,
               :position {:bounding {:x1 22,
                                     :y1 317.33331298828125,
                                     :x2 161.33334350585938,
                                     :y2 391.6666259765625,
                                     :width 532,
                                     :height 752.3264812575574},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1684928147640},
               :properties {:color "yellow"}}
              {:id #uuid "646df6c0-8955-4a09-ac63-13913921a72c",
               :page 1,
               :position {:bounding {:x1 20,
                                     :y1 473,
                                     :x2 160.33334350585938,
                                     :y2 523.3333129882812,
                                     :width 532,
                                     :height 752.3264812575574},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1685003389912},
               :properties {:color "yellow"}}
              {:id #uuid "646df6d4-3980-4a14-bcd8-9fcb69eaad05",
               :page 1,
               :position {:bounding {:x1 24,
                                     :y1 554,
                                     :x2 144.66665649414062,
                                     :y2 580.6666870117188,
                                     :width 532,
                                     :height 752.3264812575574},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1684928215465},
               :properties {:color "yellow"}}
              {:id #uuid "646df6ec-8755-4ead-aa1c-b8123b5124f8",
               :page 1,
               :position {:bounding {:x1 20,
                                     :y1 617,
                                     :x2 191.33333587646484,
                                     :y2 658.6666259765625,
                                     :width 532,
                                     :height 752.3264812575574},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1684928244056},
               :properties {:color "yellow"}}
              {:id #uuid "646df70c-1ed0-45f6-8e01-ba58875fc8f1",
               :page 1,
               :position {:bounding {:x1 20,
                                     :y1 686,
                                     :x2 217.33334350585938,
                                     :y2 727.3333740234375,
                                     :width 532,
                                     :height 752.3264812575574},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1684928272004},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
